body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fond{
    background-image: url("../images/fond1.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}



.text{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 450px;
    padding-top: 120px;
    margin-left: 800px;

    .color{
        background-color: #FEA1A9;
        top: 210px;
        bottom: 0;
        height: 30px;
        width: 290px;
        position: absolute;
        z-index: 0;
    }

    :nth-child(2){
        top: 280px;

    }

    
    h1{
        font-family: 'Abril Fatface', cursive;
        font-size: 65px;
        font-weight: 100;
        text-align: end; 
        z-index: 9999; 
        color: #2F252E;
    }

    p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        text-align: end; 
        color: #2F252E; 
    }    
    
    form{
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    input[type=submit]{
        background-color:#FEA1A9;
        border: none;
        color: #2F252E;
        margin-top: 5px;
        padding: 10px;
    }

    input[type=text]{
        border: none;
        margin-top: 20px;
        padding: 10px;
    }

    .message{
        display: flex;
        justify-content: center;
        align-items: center;
        color: antiquewhite;
        background-color: #FEA1A9;
        margin-top: 10px;
        padding: 10px;
    }

}



.recette {
    background-color: #ecf1f5;
    display: flex;
}

.btn{
    display: flex;
    position: absolute;
}

.btn .back {
    background-color: #FEA1A9;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 26px;
    margin-left: 10px;
    margin-top: 10px;
}

.miam{
    display: flex!important;

    .gauche{
        display: flex;
        width: 700px;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 100px;


        div{
            background-color: #FEA1A9;
            margin-top: 130px;
            padding: 14px;
            position: absolute;
            z-index: -17;
            width: 350px;
        }


        h1{
            font-family: 'Abril Fatface', cursive;
            font-size: 60px;
            width: 500px;
            font-weight: 100;
            color: #2F252E;
            margin-top: 85px;
        }

        h2{
            font-size: 18px;
        }
    }

    .droite{
        display: flex;
        width: 50vw;
        flex-direction: column;
    }
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 43%;
}

.add{
    background-color: #FEA1A9;
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
}

.hello{
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    font-weight: 100;
    color: #2F252E;
}